header {
  text-align: center;
  margin-top: 100px;
}

main {
  display: flex;
  width: 100%;
}

body {
  position: relative;
  background-color: rgb(255, 243, 169);
}

a {
  color: black;
}


body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}
 
html {
  height: -webkit-fill-available;
}

.titlewrapper {
  /* outline: solid 1px red; */
  text-align: center;
}

.title {
  font-size: 25px;
  margin: 0;
}

.mode {
  margin-top: -10px;
  font-size: 15px;
}

.btnwrapper {
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  flex-wrap: wrap;
}

.btn {
  width: 100px;
  height: 40px;
  background-color: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: none;
}

.mix {
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 550px){
  body {
    background: rgb(185, 219, 233);
  }

 
  body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
   
  html {
    height: -webkit-fill-available;
  }

  
}




@media (min-width: 550px) and (max-width: 800px){
  body {
    background: rgb(251, 205, 212);
  }
}